
@media (min-width: 701px) {
  .app-wrapper {
      width: 80%;
      margin: auto;
  }
  
}
@media (max-width: 701px) {
  .app-wrapper {
      width: 100%;
      margin: auto;
  }
}

.app-wrapper {
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */

}


.container {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app-wrapper-content {
    grid-area: c;
    background-color: aquamarine;
}

